*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    scrollbar-color: black;
    font-size: 20px;
}
body{
    background-color: grey;
}
nav{
    background-color: rgb(85, 85, 85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:10px;
    padding-left:0px;
    
}
.logo{
    width: 10%;
}
.logo img{
    width: 100%;
}
.menu-ctn >li{
    display: inline-block;
    background-color: rgb(50, 50, 201);
    padding: 10px;
    transition: all 0.5s ease;
    position: relative;
    font-size: 18px;
}
.menu-ctn li:hover{
    cursor: pointer;
    background-color: rgb(0, 140, 255);
    font-size: 20px;
    transition: 500ms;
}

ul{
    list-style: none;

}
#Dorpdown{
    display: none;
    position: absolute;
    width: 120%;
    background-color: #C7C3C3;
    z-index: 1;
    text-align: center;
    left:0px;
    right: 0px;
}
#Dorpdown li{
    padding: 10px 15px;
}
#Dorpdown.active{
    display: block;
}
#listinput a{
    text-decoration: none;
    color: black;
}
#listinput a:hover{
    text-decoration: none;
    
}
#Head{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800; 
    font-size: 50px;
}
.sct-02{
    text-align: center;
}
.ctn-01{
    z-index: 5px;
    box-shadow: 30px 30px 20px rgba(0,0,0,0.3);
    margin-left: 600px;
    margin-right: 515px;
}
.sct-01{
    text-align: left;
    margin-left: 10px;
    
}
.sct-03{
    padding-left: 10px;
}
.text-01{
    margin-right: 1000px;
    background-color: rgb(111, 112, 112);
    z-index: 5px;
    box-shadow: 30px 30px 20px rgba(0,0,0,0.3);
}
.small-head{
    font-size: 30px;
    
}
.imges1{
    margin-top: 10px;
    padding: 10px;
    display: flexbox;
}
.ende{
    background-color:rgba(31, 105, 173, 0.2);
    size-adjust: 10px;
    display: inline-flexbox;
    margin-bottom: 0px;
    margin-top: 00px;
    text-align: center;
    padding-bottom: 10px;
}
.ende a{
    text-decoration: none;
    color: black;
}
.ende a:hover{
    font-size: 25px;
    color: rgb(98, 98, 243);
    transition: 200ms;
}.Big-head{
    background-color: #575757;
    text-align: center;
    font-size: 30px;
    justify-content: space-between;
   
}
.input{
align-items: center;
text-align: center;
padding-top: 190px;
}
.input input{
   border-radius: 5px;
}
.cool{
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
.btn{
    display: none;
}
#ime1:hover, #ime2:hover, #ime3:hover{
    height: 160px;
    box-shadow: 5px;
    z-index: 30;
    box-shadow: 10px, yellowgreen;
    transition: 150ms;
}
.Supercool{
    text-align: center;
}